{% extends 'theme.html' %}
{% load static %}

{% block main %}
    <div id="journal" class="container my-4">
        <h2 class="title">
            <span class="text-muted"><i class="fa fa-atom mx-2"></i></span>
            {{ discipline.name }}
        </h2>

        <hr class="hr my-4"/>
        <div class="m-2">
            <strong><i class="fa fa-book mx-2"></i> Publications in this discipline</strong> <br/>
            {% for reference in discipline.reference_set.all %}
                {% include 'bibliography_item.html' with reference=reference %}
            {% endfor %}
        </div>
    </div>
{% endblock %}