{% extends 'theme.html' %}
{% load static %}

{% block main %}
    <div id="home" class="container">
        <div class="col-md-12">
            <img src="{% static 'logo.svg' %}" alt=""/>
        </div>
        <form class="col-md-12" action="{% url 'search' %}" method="get">
            <div class="input-group my-3">
                <input name="query" type="text" class="form-control input-search"
                       placeholder="Search a reference, author, journal or discipline..."
                />
                <select name="type" class="form-select" id="type">
                    <option selected value="references">References</option>
                    <option value="authors">Author</option>
                    <option value="journals">Journal</option>
                    <option value="disciplines">Discipline</option>
                    <option value="years">Year</option>
                </select>
                <button
                        type="submit"
                        class="btn btn-primary search input-group-btn">
                    <i class="fa fa-search"></i> Search
                </button>
            </div>
        </form>
    </div>
{% endblock %}